# Generated template for local bootstrap
# Copy values from your secure source (Key Vault, secret manager, etc.)
AZURE_RESOURCE_GROUP=rg-<project>-<env>
AZURE_LOCATION=japaneast
AZURE_KEY_VAULT_NAME=kv-<project>-<env>
AZURE_KEY_VAULT_URI=https://<keyvault-name>.vault.azure.net/
AZURE_STORAGE_ACCOUNT_NAME=st<project><suffix>
AZURE_SEARCH_SERVICE_NAME=srch<project><suffix>
AZURE_SPEECH_ACCOUNT_NAME=speech-<project>-<suffix>
AZURE_VISION_ACCOUNT_NAME=vision-<project>-<suffix>
AZURE_OPENAI_ACCOUNT_NAME=aoai-<project>-<suffix>

AZURE_SPEECH_KEY=<SET_IN_KEY_VAULT>
AZURE_SPEECH_REGION=japaneast

AZURE_VISION_KEY=<SET_IN_KEY_VAULT>
AZURE_VISION_ENDPOINT=https://japaneast.api.cognitive.microsoft.com/

AZURE_SEARCH_API_KEY=<SET_IN_KEY_VAULT>
AZURE_SEARCH_ENDPOINT=https://<search-service>.search.windows.net

AZURE_STORAGE_ACCOUNT_KEY=<SET_IN_KEY_VAULT>
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=<storage-account>;AccountKey=<SET_IN_KEY_VAULT>;BlobEndpoint=https://<storage-account>.blob.core.windows.net/;FileEndpoint=https://<storage-account>.file.core.windows.net/;QueueEndpoint=https://<storage-account>.queue.core.windows.net/;TableEndpoint=https://<storage-account>.table.core.windows.net/

AZURE_OPENAI_ENABLED=true
AZURE_OPENAI_API_KEY=<SET_IN_KEY_VAULT>
# Rule: keep endpoint/account aligned. endpoint should be https://<AZURE_OPENAI_ACCOUNT_NAME>.openai.azure.com/
AZURE_OPENAI_ENDPOINT=https://<openai-account>.openai.azure.com/
AZURE_OPENAI_MODEL=<deployment-name>

APPLICATIONINSIGHTS_CONNECTION_STRING=<SET_IN_KEY_VAULT>
